<div class="modal-content">

  <div class="modal-header">

    <div id="modal-title"
         class="d-flex justify-content-between">
      <h3 class="modal-title">Copy to :</h3>
    </div>

    <button type="button"
            class="btn btn-icon-close"
            data-dismiss="modal"
            aria-label="Close">
      <i class="fas fa-times"></i>
    </button>

  </div>

  <div class="modal-body">

    <%= simple_form_for :copy, url: copy_training_path(training), method: 'GET' do |f| %>

      <div class="copy-form-element">

        <%= f.input :training_id, label: 'Please enter the target Training id :' %>

      </div>

      <div class='modal-control'>

        <button type="submit"
                class="bld-btn-white-dark-grey">
          Copy
        </button>

      </div>

    <% end %>

  </div>

</div>
