<div class="theories-hover">
  <% content.theories.each do |theory|%>
  <div class="theories-pill">
    <%= link_to theory.name, theory_path(theory) %>
    <%= link_to content_remove_linked_theory_path(content, theory_id: theory.id), data: { toggle: 'tooltip', confirm: 'Are you sure ?'}, remote: true do %>
      <i class="fas fa-times" data-target='tooltip' title='Remove Theory'></i>
   <% end %>
  </div>
  <% end %>
</div>
<a class='add-theory' data-toggle='modal' data-target='#newTheoryContent' data-target='tooltip' title='Link Theory'><i class="fas fa-plus"></i></a>
