log
log/*.log
tmp/**/*
tmp/*
!log/.keep
!tmp/.keep
.DS_Store
.env*
test/

public/assets/
public/packs/
public/packs/manifest.json
public/packs-test/
node_modules
yarn-error.log
yarn-debug.log*
.yarn-integrity
.DS_Store
latest.dump

.idea/
