.border-none                       	   { border: none; }

.border-transparent-0_5px          	   { border: .5px solid transparent !important; }
.border-transparent-1px            	   { border: 1px solid transparent !important; }
.border-transparent-2px            	   { border: 2px solid transparent !important; }

.border-bld-white                  	   { border:        1px solid $bld-white !important; }
.border-top-bld-white              	   { border-top:    1px solid $bld-white !important; }
.border-right-bld-white            	   { border-right:  1px solid $bld-white !important; }
.border-left-bld-white             	   { border-left:   1px solid $bld-white !important; }
.border-bottom-bld-white           	   { border-bottom: 1px solid $bld-white !important; }

.border-bld-dark-grey              	   { border:        1px solid $bld-dark-grey !important; }
.border-top-bld-dark-grey          	   { border-top:    1px solid $bld-dark-grey !important; }
.border-right-bld-dark-grey        	   { border-right:  1px solid $bld-dark-grey !important; }
.border-left-bld-dark-grey         	   { border-left:   1px solid $bld-dark-grey !important; }
.border-bottom-bld-dark-grey       	   { border-bottom: 1px solid $bld-dark-grey !important; }

.border-bld-light-grey-0_5px           { border:        .5px solid $bld-light-grey !important; }
.border-bld-light-grey                 { border:        1px solid $bld-light-grey !important; }
.border-top-bld-light-grey             { border-top:    1px solid $bld-light-grey !important; }
.border-right-bld-light-grey           { border-right:  1px solid $bld-light-grey !important; }
.border-left-bld-light-grey            { border-left:   1px solid $bld-light-grey !important; }
.border-bottom-bld-light-grey          { border-bottom: 1px solid $bld-light-grey !important; }

.border-bld-yellow                 	   { border:        1px solid $bld-yellow !important; }
.border-top-bld-yellow             	   { border-top:    1px solid $bld-yellow !important; }
.border-right-bld-yellow           	   { border-right:  1px solid $bld-yellow !important; }
.border-left-bld-yellow            	   { border-left:   1px solid $bld-yellow !important; }
.border-bottom-bld-yellow          	   { border-bottom: 1px solid $bld-yellow !important; }

.border-bld-blue-green                 { border:        1px solid $bld-blue-green !important; }
.border-top-bld-blue-green             { border-top:    1px solid $bld-blue-green !important; }
.border-right-bld-blue-green           { border-right:  1px solid $bld-blue-green !important; }
.border-left-bld-blue-green            { border-left:   1px solid $bld-blue-green !important; }
.border-bottom-bld-blue-green          { border-bottom: 1px solid $bld-blue-green !important; }

.border-bld-yellow-2px             	   { border:        2px solid $bld-yellow !important; }
.border-top-bld-yellow-2px         	   { border-top:    2px solid $bld-yellow !important; }
.border-right-bld-yellow-2px       	   { border-right:  2px solid $bld-yellow !important; }
.border-left-bld-yellow-2px        	   { border-left:   2px solid $bld-yellow !important; }
.border-bottom-bld-yellow-2px      	   { border-bottom: 2px solid $bld-yellow !important; }

.border-bld-red           	   { border:        1px solid $bld-red !important; }
.border-top-bld-red       	   { border-top:    1px solid $bld-red !important; }
.border-right-bld-red     	   { border-right:  1px solid $bld-red !important; }
.border-left-bld-red      	   { border-left:   1px solid $bld-red !important; }
.border-bottom-bld-red    	   { border-bottom: 1px solid $bld-red !important; }

.border-bld-negative-red           	   { border:        1px solid $bld-negative-red !important; }
.border-top-bld-negative-red       	   { border-top:    1px solid $bld-negative-red !important; }
.border-right-bld-negative-red     	   { border-right:  1px solid $bld-negative-red !important; }
.border-left-bld-negative-red      	   { border-left:   1px solid $bld-negative-red !important; }
.border-bottom-bld-negative-red    	   { border-bottom: 1px solid $bld-negative-red !important; }

.border-bld-negative-red-2px           { border:        2px solid $bld-negative-red !important; }
.border-top-bld-negative-red-2px       { border-top:    2px solid $bld-negative-red !important; }
.border-right-bld-negative-red-2px     { border-right:  2px solid $bld-negative-red !important; }
.border-left-bld-negative-red-2px      { border-left:   2px solid $bld-negative-red !important; }
.border-bottom-bld-negative-red-2px    { border-bottom: 2px solid $bld-negative-red !important; }


///////////
// HOVER //
///////////

.border-bottom-bld-black-1px-hover {
	&:hover {
		border-bottom: 1px solid black;
	}
}


///////////
// FOCUS //
///////////

.vs-input-focus                { &:focus { background-color: $bld-white !important; box-shadow: 0 0 0 0.2rem rgba(22, 127, 251, 0.25) !important; } }
