// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$timeline: #115173;
$bld-white: #FFFFFF;
$bld-light-greybg: #f7f7f7;
$bld-light-grey: #C4C4C4;
$bld-light-grey2: #888888;
$bld-light-grey4: #F4F4F4;
$bld-dark-grey: #333333;
$bld-yellow: #FCC74C;
$bld-orange: #f3722c;
$bld-neutral-orange: #FFDCA9;
$bld-red: #FF5656;
$bld-light-red: #EC6D6D40;
$bld-negative-red: #EC6D6D;
$bld-blue: #22577a;
$bld-neutral-blue: #a9def9;
$bld-blue-green: #4ac2c7;
$bld-green: #004b23;
$bld-positive-green: #b5c99a;


.bld-white                     { color: $bld-white; }
.bld-light-grey                { color: $bld-light-grey; }
.bld-light-grey2               { color: $bld-light-grey2; }
.bld-light-grey4               { color: $bld-light-grey4; }
.bld-dark-grey                 { color: $bld-dark-grey; }
.bld-yellow                    { color: $bld-yellow; }
.bld-orange                    { color: $bld-orange; }
.bld-red                       { color: $bld-red; }
.bld-blue                      { color: $bld-blue; }
.bld-blue-green                { color: $bld-blue-green; }
.bld-green                     { color: $bld-green; }

.bld-white-important           { color: $bld-white !important; }
.bld-light-grey-important      { color: $bld-light-grey !important; }
.bld-light-grey4-important     { color: $bld-light-grey4 !important; }
.bld-dark-grey-important       { color: $bld-dark-grey !important; }
.bld-yellow-important          { color: $bld-yellow !important; }
.bld-red-important             { color: $bld-red !important; }

.bld-white-hover               { &:hover { color: $bld-white !important; } }
.bld-light-grey-hover          { &:hover { color: $bld-light-grey !important; } }
.bld-light-grey4-hover         { &:hover { color: $bld-light-grey4 !important; } }
.bld-dark-grey-hover           { &:hover { color: $bld-dark-grey !important; } }
.bld-yellow-hover              { &:hover { color: $bld-yellow !important; } }

.bld-bg-transparent            { background-color: rgba(0, 0, 0, 0); }
.bld-bg-white                  { background-color: $bld-white; }
.bld-bg-light-greybg           { background-color: $bld-light-greybg; }
.bld-bg-light-grey             { background-color: $bld-light-grey; }
.bld-bg-light-grey4            { background-color: $bld-light-grey4; }
.bld-bg-dark-grey              { background-color: $bld-dark-grey; }
.bld-bg-yellow                 { background-color: $bld-yellow; }
.bld-bg-neutral-orange         { background-color: $bld-neutral-orange; }
.bld-bg-light-red              { background-color: $bld-light-red; }
.bld-bg-neutral-blue           { background-color: $bld-neutral-blue; }
.bld-bg-positive-green         { background-color: $bld-positive-green; }

.bld-bg-white-important        { background-color: $bld-white !important; }
.bld-bg-light-grey-important   { background-color: $bld-light-grey !important; }
.bld-bg-light-grey4-important  { background-color: $bld-light-grey4 !important; }
.bld-bg-dark-grey-important    { background-color: $bld-dark-grey !important; }
.bld-bg-yellow-important       { background-color: $bld-yellow !important; }

.bld-bg-white-hover            { &:hover { background-color: $bld-white !important; } }
.bld-bg-light-grey-hover       { &:hover { background-color: $bld-light-grey !important; } }
.bld-bg-light-grey2-hover      { &:hover { background-color: $bld-light-grey2 !important; } }
.bld-bg-light-grey4-hover      { &:hover { background-color: $bld-light-grey4 !important; } }
.bld-bg-dark-grey-hover        { &:hover { background-color: $bld-dark-grey !important; } }
.bld-bg-yellow-hover           { &:hover { background-color: $bld-yellow !important; } }


//////////////
// ON CLICK //
//////////////

.bld-yellow-onclick { &:active { color: $bld-yellow !important; } }

/////////////////
// PLACEHOLDER //
/////////////////
