

.content-index-theme-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  cursor: pointer;
  p {
    margin: 0 0 0 1rem;
    font-weight: 700;
  }
  p:hover {
    opacity: 80%;
  }
}

.content-index-nested {
  margin: 0 2rem;
}

.content-index-card {
  border-bottom: 1px solid rgba(0,0,0,0.1);

  a {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
}
