.training-show-title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 2rem;
  h1 {
    margin: 0;
  }
  h1, .control-buttons {
    height: 5rem;
  }
  .control-buttons {
    display: flex;
    align-items: center;
    width: auto;
    a {
      margin: 0 0.5rem;
    }
  }
}

.dropdown-training {
  position: relivatve;

  .dropdown-pdf {
    background: white;
    z-index: 80;
    padding: 2rem;
    width: 15rem;
    position: absolute;
    top: 0;
    left: -15rem;
    // box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
    box-shadow: -5px 0px 8px -2px rgba(0, 0, 0, 0.5);

    form {
      height: auto !important;
    }

    label {
      margin-left: 3rem;
    }
  }
}

.training-info {
  text-align: center;
  margin-bottom: 5rem;

  @include from-large {
    text-align: left;
  }
}

.page-controls-buttons {
  display: none;

  @include from-large {
    position: relative;
    display: flex;
    vertical-align: middle;
  }

  .btn {
    margin-left: .5rem;
  }

  .dropdown-menu {
    width: 30rem;
    position: absolute;
    right: -5rem;
    padding: 0;
  }

  .calendar_message {
    color: #E64259;
  }

  .airtable_message {
    color: #FDC553;
  }
}

.training-info-footer {
  display: flex;
  justify-content: center;
  z-index: 1001;
  margin-bottom: 5rem;

  @include from-large {
    justify-content: flex-end;
  }
}

.sessions-cards {
  text-align: center;

  a {
    text-decoration: none;
  }

  @include from-large {
    margin: 4rem 0px;
  }
}

.invalid-feedback {
  color: red;
}

.user-manager {
  margin: 0 0.5rem;
}

#update-modal {
  background-color: white;
}

.middle-info {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;

  div > h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 1rem 0;

    @include from-large {
      margin: 0;
      text-align: left;
    }
  }

  h3 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  li {
    font-size: 2rem;
  }

  @include from-large {
    flex-direction: row;
    width: 100%;

    h3 {
      margin: 0;
    }
  }
}

.middle-info-user {
  position:relative;
  display: none;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-end;
  // justify-content: center;
    li {
  list-style: none;
  }
  div {
    margin-bottom: 1rem;
  }
  @include from-medium-high {
    display: inherit;
  }
}

.middle-info2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.2rem;
  div > h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    margin-top: 3.0.5rem !important;
    margin-bottom: 0.5rem !important;

    @include from-large {
      text-align: right;
    }
  }

  p{
    margin: 0;
  }

  form {
    width: 33%;
  }

  .trainer-div {
    display: flex;
    align-items: center;
    justify-content: center;

    @include from-large {
      justify-content: flex-end;
    }
  }
}

.middle-info-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 63px;

  @include from-large {
    text-align: left;
    width: 60%;
  }

  h3, p {
    padding-right: 2rem;
    margin: 0;
  }
}

#writer, #trainer {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  padding: 0 !important;
  list-style: none;
  margin-bottom: 1rem;

  li {
    float:left;
    margin: 0 0.5rem;
  }
}

#owner {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  padding: 0 !important;
  list-style: none;
  margin-bottom: 1rem;

  li {
    float:left;
    margin: 0 0.4rem;
  }

}

#owner-session-index {
  font-size: 2rem;
  font-weight: 300;
  position: relative;

  li {
    display: inline-block;
    margin: 0 0.5rem;
  }

  .avatar-sm-add {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    border: 3px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: #888888;
      font-size: 20px;
    }
  }

  .avatar-sm-trainer {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #E64259;
  }

  .ava2 {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 4rem !important;
    height: 4rem !important;
  }
}

#dropdownMenuButton::after, #dropdownNotificationButton::after {
  content: none !important;
}

#add-session-button {}

// SURVEY FORM
#survey-link {
  text-transform: none !important;
}

.sessions-copy {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  color: #888888;
  i {
    color: #888888;
  }
}

.sessions-footer {
  min-height: 4rem;
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  i {
    margin-right: 1rem;
  }
}

.info {
  &:hover {
    opacity: 80%;
  }
}
