.user-show-control-links {
    display: flex;
    flex-direction: column;
    a {
      margin-top: 20px;
    }
}

.user-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 4rem;
  }
}

.index-card-small-show {
  width: 100%;
  margin-bottom: 5rem;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include from-large {
  display: flex;
  flex-direction: row;
  align-items: inherit;
  }
}


.user-logo-show {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.user-picture-logo-show {
  justify-content: center;
  height: 200px;
  width: 200px;

  @include from-large {
    justify-content: space-between;
  }
}


