<div class="container-seven-large">
  <div id="example"></div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>

<script>
  window.onload = function() {
    const data = [
      ['', 'Tesla', 'Volvo', 'Toyota', 'Ford'],
      ['2019', 10, 11, 12, 13],
      ['2020', 20, 11, 14, 13],
      ['2021', 30, 15, 12, 13]
    ];

    table_container = document.getElementById('example');
    const hot = new Handsontable(table_container, {
      data: data,
      rowHeaders: true,
      colHeaders: true,
      colWidths: 100,
      width: '100%',
      height: 320
    });
    document.getElementById('hot-display-license-info').remove();
  }
</script>
