<div class="container-seven-large"
     data-controller="pages--billing">

  <div class="pt-3rem">

    <div id="trainings-list">

      <%= render(Tools::TabsSystemComponent.new(tabs_names: ["pending", "archived"]),
                                                  klasses: 'width-100',
                                                  color: 'yellow') do %>

        <div id="pending-display"
             class="bld-tab">

          <%= render "pages/billing/trainings_list", type: "Pending", list: @to_pay %>

        </div>

        <div id="archived-display"
             class="bld-tab d-flex justify-content-center align-items-start hidden"
             style="min-height: calc(100vh - 9.5rem);">

          <%= render_async billing_completed_path do %>

            <div class="d-flex flex-column height-50vh justify-content-center align-items-center">

              <p class="bld-blue-green fs-1_6rem font-weight-700 mb-2rem">Loading...</p>

              <div class="loader-blue-green"></div>

            </div>

          <% end %>

        </div>

      <% end %>

    </div>

  </div>

</div>


<script>
  const allCarets = document.querySelectorAll('.btn-link');
  allCarets.forEach(element => {
    element.addEventListener('click', event => {
      element.querySelector('.fas').classList.toggle('rotated180');
    })
  })

  function showInvoice(element) {
    table = element.closest('tbody')
    hiddentable = table.nextSibling.nextSibling
    hiddentable.classList.toggle('hidden');
  }
</script>


