<!DOCTYPE html>
<html>
  <head>
    <script>
      function subst() {
            var vars={};
            var x=window.location.search.substring(1).split('&');
            for (var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}

            if (vars['page'] == vars['topage']) {
                document.querySelector('.footer-pdf').classList.remove('hidden');
            }
        }
    </script>
  </head>
  <body onload="subst()">
    <div class="footer-pdf hidden">
      <% unless @invoice_item.type == 'InvoiceSevener' %>
        <div class="invoice-bank-statement">
          <p><%= @text[params[:lang]]['bank_statement1'] %></p>
          <p><%= @text[params[:lang]]['bank_statement2'] %></p>
          <p><%= @text[params[:lang]]['bank_statement3'] %></p>
          <p>IBAN : FR76 3006 6100 1100 0202 8720 136</p>
          <p>BIC : CMCIFRPP</p>
        </div>
        <div class="invoice-footer">
          <p>SAS - RCS : Paris - Siret : 80396439400024 - APE : 8559A - ID TVA : FR28 803964394</p>
          <p><%= @text[params[:lang]]['info'] %></p>
        </div>
      <% else %>
        <div>
          <p>TVA non applicable, article 293b du CGI</p>
        </div>
      <% end %>
    </div>
  </body>
</html>
