// CLEANED - 2021-07-06

.avatar-xs {
  width: 1.6rem;
  height: 1.6rem;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-sm {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-md {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-xlarge {
  width: 20rem;
  height: 20rem;
  object-fit: cover;

  img {
    object-fit: cover;
  }
}


//////////////
// TO CLEAN //
//////////////

.avatar-sm-trainer {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #E64259;
}

.avatar-sm-writer {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #FFC447;
}

.avatar-sm-sidekick {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #4ac2c7;
}

.avatar-sm-owner {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #80b918;
}

.avatar-sm-add {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid grey;
  cursor: pointer;
  &:hover {
    background: #e2e2e2;
  }
}

.avatar-mobile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-bordered {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}

.avatar-square {
  width: 4rem;
  height: 4rem;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}

.avatar-workshop-module-card {
  position: absolute;
  top: -0.5rem;
  left: -5rem;
}

.avatar_filter_all {
  border: 1px solid black;
  margin-bottom: 10px;
}

.avatar_filter_all_unselected {
  background-color: rgba(0,0,0,0.2);
}
