/* User Avatar */
.avatar-sm-trainer {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #E64259;
}

.avatar-sm-writer {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #FFC447;
}

.avatar-sm-sidekick {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #4ac2c7;
}

.avatar-sm-owner {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #80b918;
}

.avatar-sm-add {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid grey;
  cursor: pointer;
  &:hover {
    background: #e2e2e2;
  }
}

.avatar-sm {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.ava {
  position: absolute;
  right: 0;
}

.ava-session {
  position: absolute;
  right: 30px;
}

.ava-session-mobile {
  position: absolute;
  right: -225px;
}

.avatar-xs {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-mobile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  width: 10.6rem;
  height: 10.6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 3rem;
}

.avatar-bordered {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}

.avatar-square {
  width: 4rem;
  height: 4rem;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}

.avatar-workshop-module-card {
  position: absolute;
  top: -0.5rem;
  left: -5rem;
}

.avatar_filter_all {
  border: 1px solid black;
  margin-bottom: 10px;
}

.avatar_filter_all_unselected {
  background-color: rgba(0,0,0,0.2);
}
