//////////////////
// PLAIN COLORS //
//////////////////

.bld-btn-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: $bld-white;
  background-color: $bld-yellow !important;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: .5rem;
  border: 1px solid $bld-yellow;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color .25s ease-in-out, color .25s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $bld-yellow;
    // border: 1px solid $bld-dark-yellow;
    background-color: $bld-white !important;
  }

  &:focus {
    color: $bld-yellow;
    background-color: $bld-white !important;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}


///////////////////////////////////
// WHITE WITH TEXT COLOR BUTTONS //
///////////////////////////////////

.bld-btn-white-dark-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: $bld-dark-grey;
  background-color: $bld-white !important;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: .5rem;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all .25s ease-in-out;
  cursor: pointer;

  &:not(.disabled):hover {
    border: 1px solid $bld-light-grey4;
    background-color: $bld-light-grey4 !important;
  }

  &:not(.disabled):focus {
    background-color: $bld-white;
    color: $bld-dark-grey;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}


//////////
// MISC //
//////////

.bld-btn-back {
  p, svg {
    font-size: 1.8rem;
    color: #939393;
  }

  svg {
    margin-right: 1rem;
  }
}

.btn-search {
  display: none;
  height: 5rem;
  width: 12rem;
  padding: 0 1rem;
  margin-right: 1rem;
  border-radius: .5rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  background-color: $bld-light-grey !important;
  transition: border .25s ease-in-out;

  @include from-medium {
    display: block;
  }

  &:hover {
    border: 1px solid $bld-dark-grey !important;
  }
}

.btn-reset {
  height: 5rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  border-radius: .5rem;

  &:hover {
    background-color: $bld-light-grey4;
  }

}


//////////////
// TO CLEAN //
//////////////

.control-button {
  border-radius: 50%;
  height: 4.8rem;
  width: 4.8rem;
  font-size: 1.6rem; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  opacity: 0.6;
  transition: all 0.8s ease;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    opacity: 1;
    color: white;
  }
  &:focus {
    outline: none;
  }
}

.control-button-warning {
  background-color: $orange;
}

.warning-training {
  position: absolute;
  top: 1.5rem;
  left: 4.2rem;
}

.warning-client {
  position: absolute;
  top: 1.5rem;
  left: 1.7rem;
}

.control-button-danger {
  background-color: $red;
}

.control-button-add {
  background-color: $green;
}

.client-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    margin: 0;
  }
  .btn {
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.text {
  border-radius: 1rem;
  width: auto;
  font-size: 1.5rem !important;
}

.edit-fafa {
  display: none;
  border: none;
  font-size: 2rem;
  outline: none;
  color: black;
  background-color: rgba(0,0,0,0);
  &:hover {
    color: black;
    cursor: pointer;
  }

  @include from-large {
    display: inline;
  }
}

.add-user {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid rgba(0,0,0,0.6);
  padding: 0;
  background-color: rgba(0,0,0,0);
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 6.0.5rem 8.0.5rem !important;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
}

.return-arrow {
  height: 4rem;
  width: 4rem;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  box-shadow: none !important;
  min-width: 4rem !important;
  min-height: 4rem !important;

  &::after {
    z-index: 100;
  }

  i {
    font-size: 1.6rem;
  }
}

.btn-edit-yellow, .btn-edit-red, .btn-edit-green, .btn-edit-grey, .btn-edit-blue, .btn-edit-orange, .btn-submit-disabled {
  font-family: 'Montserrat' !important;
  opacity: 0.8;
  width: auto;
  text-transform: none;
  letter-spacing: 5px;
  height: 4rem !important;
  max-width: none;
  padding: 1rem 1.5rem !important;
  border-radius: 5px !important;
  box-sizing: border-box;
  font-size: 14px !important;
  font-weight: 800 !important;
  color: white !important;
  text-align: center;
  transition: all 0.1s;
  outline: none !important;
  margin-left: 0.5rem !important;
  letter-spacing: 1.5px;

  i {
    color: white;
    margin-left: 2px;
  }

  &:hover{
    opacity: 1;
    text-decoration: none !important;
  }

  @include from-large {
  font-size: 16px !important;
  font-weight: 800 !important;
  padding: 1.1rem 1.6rem !important;
  }
}

.btn-yellow {
  padding: .8575rem 1rem;
  background-color: #FFC447;
  border: 2px solid #FFC447;
  border-radius: .5rem;
  box-sizing: border-box;
  color: white;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
  margin-left: 0.5rem;

  i {
    color: white;
    margin-left: 2px;
  }

  &:hover{
    background-color: white;
    color: #FFC447;
  }

  @include from-large {
    font-size: 1.6rem;
  }
}


.btn-edit-yellow-mobile {
  display: none;
  text-transform: uppercase;
  font-family: 'Montserrat' !important;
  opacity: 0.8;
  width: auto;
  height: 4rem !important;
  max-width: none;
  padding: 1rem 1.5rem !important;
  border-radius: 5px !important;
  box-sizing: border-box;
  font-size: 14px !important;
  font-weight: 800 !important;
  color: white !important;
  text-align: center;
  transition: all 0.1s;
  outline: none !important;
  margin-left: 0.5rem !important;
  letter-spacing: 1.5px;

  i {
    color: white;
    margin-left: 2px;
  }

  &:hover{
    opacity: 1;
    text-decoration: none !important;
  }
  @include from-medium-high {
  display: inherit;
  }
}

.btn-icon-grey-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #888888;
  border-radius: 5px;
  i {
    color: #888888;
    font-size: 20px;
  }
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  background-color: #e2e2e2;
  @include from-medium-high {
    display: none;
  }
  &:hover {
    opacity: 80%;
  }
}

.btn-edit-checkbox {
  font-family: 'Montserrat' !important;
  width: auto;
  max-width: none;
  padding: 1.1rem 1.6rem !important;
  border-radius: 0.22em;
  box-sizing: border-box;
  font-size: 1.4rem !important;
  font-weight: 800 !important;
  text-align: center;
  transition: all 0.1s;
  outline: none !important;
  margin-left: 0.5rem !important;

  i {
    color: white;
  }


  &:hover{
    background-image: none !important;
    text-decoration: none !important;

    i {
    color: #4AC2C7;
    }
  }
}

.btn-edit-checkbox-checked {
  font-family: 'Montserrat' !important;
  width: auto;
  max-width: none;
  padding: 1.1rem 1.6rem !important;
  border-radius: 0.22em;
  box-sizing: border-box;
  font-size: 1.4rem !important;
  font-weight: 800 !important;
  text-align: center;
  transition: all 0.1s;
  outline: none !important;
  margin-left: 0.5rem !important;

  i {
    color: #4AC2C7;
  }


  &:hover{
    background-image: none !important;
    text-decoration: none !important;

    i {
    color: white;
    }
  }
}

.btn-edit-checkbox-disabled {
  font-family: 'Montserrat' !important;
  width: auto;
  max-width: none;
  padding: 1.1rem 1.6rem !important;
  border-radius: 0.22em;
  box-sizing: border-box;
  font-size: 1.4rem !important;
  font-weight: 800 !important;
  text-align: center;
  transition: all 0.1s;
  outline: none !important;
  margin-left: 0.5rem !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  opacity: 1 !important;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    opacity: 1 !important;
  }
}

.btn-edit, .btn-edit-yellow, .btn-edit-yellow-mobile, .btn-edit-yellow-large {
  background-color: #FFC447 !important;

}

.btn-edit-red {
  background-color: #E64259 !important;
}

.btn-edit-green {
  background-color: rgba(74, 194, 199, 80%) !important;
}

.btn-edit-blue {
  background-color: #739DBF !important;
}

.btn-edit-grey {
    background-color: #23282E !important;
}

.btn-edit-orange {
    background-color: #FF8E66 !important;
}

.btn-icon, .btn-icon-close {
  height: 4rem;
  width: 4rem;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  min-width: 4rem !important;
  min-height: 4rem !important;

  &::after {
    z-index: 100;
  }
}

.btn-icon {
  color: white;
}

.btn-icon-red {
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #E64259;
  border-radius: 5px;
  cursor: pointer !important;

  i {
    color: #E64259;
    font-size: 20px;
  }

  &:hover {
    background-color: #e2e2e2;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
}

.btn-icon-grey {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #888888;
  border-radius: 5px;
  i {
    color: #888888;
    font-size: 20px;
  }
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  &:hover {
    background-color: #e2e2e2;
  }
}

.btn-icon-grey-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #888888;
  border-radius: 5px;
  i {
    color: #888888;
    font-size: 18px;
  }
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  &:hover {
    background-color: #e2e2e2;
  }
}

.btn-icon-grey-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #888888;
  border-radius: 5px;
  i {
    color: #888888;
    font-size: 15px;
  }
  i:hover {
    opacity: 80%;
  }
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  &:hover {
    color: #e2e2e2;
  }
}

.btn-icon-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #FFC447;
  border-radius: 5px;
  i {
    color: #FFC447;
    font-size: 20px;
  }
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  &:hover {
    background-color: #e2e2e2;
    color: #FFC447;
  }

}



.btn-icon-close {
  color: black !important;
  box-shadow: none !important;
}

.btn-edit-round {
  min-width: 0 !important;
  padding: 0.45rem !important;
  border-radius: 50% !important;
  background-color: #23282E !important;
  color: white !important;

  &:hover {
    background-color: #23282E !important;
  }
}

.btn-edit-yellow-large {
  font-family: 'Montserrat' !important;
  opacity: 0.8;
  width: auto;
  max-width: none;
  padding: 1.1rem 1.6rem !important;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 2rem !important;
  font-weight: 800 !important;
  color: white !important;
  text-align: center;
  transition: all 0.1s;
  outline: none !important;
  margin-left: 0.5rem !important;

  i {
    color: white;
  }


  &:hover{
    opacity: 1;
    text-decoration: none !important;
  }
}

.btn-add-user {
  font-family: 'Montserrat', sans-serif !important;
  box-shadow: none !important;
  border-radius: 5.2rem !important;
  background-color: rgba(0,0,0,0.05) !important;
  font-size: 1.4rem !important;
  padding: 1.05rem 1.6rem !important;
  border: 2px solid rgba(0,0,0,.2) !important;
}

.btn-add-user-disabled {
  font-family: 'Montserrat', sans-serif !important;
  box-shadow: none !important;
  cursor: default !important;
  background-color: white !important;
  background-image: none !important;
  font-size: 1.4rem !important;
  padding: 1.05rem 1.6rem !important;

  &:hover {
    background-color: white !important;
    background-image: none !important;
  }
}

.btn-sign-in {
  height: 42px;
  background-color: $yellow !important;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}

.disabled {
  cursor: default !important;

  &:hover {
    background-color: rgba(0,0,0,0) !important;
  }
}

.btn-submit-disabled {
  cursor: default !important;
  background-color: rgba(0,0,0,0.3) !important;
}


.collection_check_boxes:hover {
  opacity: 80%;
}

//// button on workshop add ////
#content_module_duration_05_mins, #content_module_duration_10_mins, #content_module_duration_15_mins, #content_module_duration_20_mins,
#content_module_duration_25_mins, #content_module_duration_30_mins, #content_module_duration_35_mins, #content_module_duration_40_mins,
#content_module_duration_45_mins, #content_module_duration_50_mins, #content_module_duration_55_mins, #content_module_duration_60_mins {
    position: absolute;
    transform: scale(0);
}

#content_module_duration_05_mins + label , #content_module_duration_10_mins + label , #content_module_duration_15_mins + label, #content_module_duration_20_mins + label,
#content_module_duration_25_mins + label, #content_module_duration_30_mins + label, #content_module_duration_35_mins + label, #content_module_duration_40_mins + label,
#content_module_duration_45_mins + label, #content_module_duration_50_mins + label, #content_module_duration_55_mins + label, #content_module_duration_60_mins + label {
    color: grey;
    border: 3px solid grey;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 700;
    font-weight: 700;
    width: 85px;
    text-align: center;
    margin: 10px 0px !important;
}

#content_module_duration_05_mins:checked + label , #content_module_duration_10_mins:checked + label , #content_module_duration_15_mins:checked + label, #content_module_duration_20_mins:checked + label,
#content_module_duration_25_mins:checked + label, #content_module_duration_30_mins:checked + label, #content_module_duration_35_mins:checked + label, #content_module_duration_40_mins:checked + label,
#content_module_duration_45_mins:checked + label, #content_module_duration_50_mins:checked + label, #content_module_duration_55_mins:checked + label, #content_module_duration_60_mins:checked + label {
  border: 3px solid #FDC553;
}


#workshop_module_duration_05_mins, #workshop_module_duration_10_mins, #workshop_module_duration_15_mins, #workshop_module_duration_20_mins,
#workshop_module_duration_25_mins, #workshop_module_duration_30_mins, #workshop_module_duration_35_mins, #workshop_module_duration_40_mins,
#workshop_module_duration_45_mins, #workshop_module_duration_50_mins, #workshop_module_duration_55_mins, #workshop_module_duration_60_mins {
    position: absolute;
    transform: scale(0);
}

#workshop_module_duration_05_mins + label , #workshop_module_duration_10_mins + label , #workshop_module_duration_15_mins + label, #workshop_module_duration_20_mins + label,
#workshop_module_duration_25_mins + label, #workshop_module_duration_30_mins + label, #workshop_module_duration_35_mins + label, #workshop_module_duration_40_mins + label,
#workshop_module_duration_45_mins + label, #workshop_module_duration_50_mins + label, #workshop_module_duration_55_mins + label, #workshop_module_duration_60_mins + label {
    color: grey;
    border: 3px solid grey;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 700;
    font-weight: 700;
    width: 85px;
    text-align: center;
    margin: 10px 0px !important;
}

#workshop_module_duration_05_mins:checked + label , #workshop_module_duration_10_mins:checked + label , #workshop_module_duration_15_mins:checked + label, #workshop_module_duration_20_mins:checked + label,
#workshop_module_duration_25_mins:checked + label, #workshop_module_duration_30_mins:checked + label, #workshop_module_duration_35_mins:checked + label, #workshop_module_duration_40_mins:checked + label,
#workshop_module_duration_45_mins:checked + label, #workshop_module_duration_50_mins:checked + label, #workshop_module_duration_55_mins:checked + label, #workshop_module_duration_60_mins:checked + label {
  border: 3px solid #FDC553;
}


.form-group {
  .content_module_duration{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.duration-buttons {
  fieldset {
    margin: 5px 0px !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.col-form-label {
  font-size: 1.5rem !important;
  font-family: 'Montserrat'
}

// Checkboxes Module New

.action-checkboxes {
  fieldset {
    margin: 10px 0px !important;
    display: flex;

    flex-wrap: wrap;
  }

  input {
    position: inherit;
  }

  .form-check-label {
    font-size: 15px !important;
  }
}

.save-button {
  margin-bottom: 100px;
  p {
    margin-bottom: 0;
  }
  i {
    margin-left: 5px;
  }
}

.form-check-label {
  font-family: "Montserrat";
  margin-left: 25px;
  margin-right: 10px;
}

input[type='checkbox'] {
  margin-left: 10px;
}


.theories-hover {
  font-weight: 500;
  border-radius: 25px;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  flex-wrap: wrap;
  .theories-pill {
    border: 1px solid #FDC553;
    margin-right: 1rem;
    background-color: #FFF1D5;
    padding: 5px 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 16px -5px rgba(0,0,0,0.1);
    i {
      color: #FDC553;
      margin-left: 10px;
    }
  }
  .theories-pill:hover {
    box-shadow: 10px 10px 16px -5px rgba(0,0,0,0.4);

  }
}

.theory-buttons {
  display: flex;
  align-items: baseline;
}

.add-theory {
  i {
  color: #FDC553;
  &:hover {
    opacity: 80%;
  }

  }
}
