.navbar-builder {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #c4c4c4;
  height: 50px;
  display: none;
  background-color: white;
  z-index: 100;
  padding: 0.5rem .5rem;
  box-shadow: 0px 10px 23px -13px rgba(0,0,0,0.13);

  @include from-large {
    padding: 0rem 4rem !important;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
  }
}

#navbar-builder-links {

  a {
    position: relative;
    display: block;
    text-decoration: none;
    box-sizing: content-box;
    font-size: 1.6rem;;
    color: black;
    padding: 4px 0;
    transition: 0.5s;
  }

  a.isactive::after {
    height: 4px;
    position: absolute;
    content: "";
    width: 100%;
    top: calc(100% - 4px);
    left: 0;
    background: #FFC447;
  }

  a:not(.isactive)::after {
    height: 4px;
    position: absolute;
    content: "";
    width: 100%;
    top: calc(100% - 4px);
    left: 0;
    background: #FFC447;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  a:hover {

    p {
      color: $bld-yellow !important;
    }
  }

  a:not(.isactive):hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}


//////////////
// TO CLEAN //
//////////////

.navbar-user-card {
  div {
    margin: 0 2rem 0 0;
  }

  h6 {
    margin: 0;
  }
}

.userhidden {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-radius: 0.8rem;
  padding: 0.5rem;
  width: 60px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    margin:0;
  }

  h6 {
    display: none;
  }

  &:hover {
    background-color: rgba(242,100,25,0.24);
  }
}

.dropdown-toggle::after {
  content: none !important;
}

.dropdown-menu {
  a {
    font-size: 1.6rem;
  }
}

.dropdown-item {
  padding: 1rem !important;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu-left {
  left: 0 !important;
  right: auto !important;
  .show {
    left:-60px !important;
  }
}

#dropdown-user-menu {
  min-width: 24rem;
  margin-top: 4px;
}

.dropdown-card {
  padding: 1rem;


  i, h6 {
    font-size: 1.2rem;
    margin-bottom: 3px;
  }

  p {
    margin-bottom: 0.5rem;
  }
}

.dropdown-card-text {
  width: 60%;
  text-align: left;
}
