// RESET

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  // font-size: 100%;
  // font: inherit;
  vertical-align: baseline;
  font-family: 'Montserrat';
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

main {
  display: flex;
  justify-content: center;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// RESET END

h1 {
  font-size: 2.4rem;
  font-weight: bolder;

  @include from-large {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 2rem;

  @include from-large {
    font-size: 2.4rem !important;
  }
}

h3 {
  font-size: 1.6rem;

  @include from-large {
    font-size: 2rem;
  }
}

h4 {
  @include from-large {
    font-size: 2rem !important;
  }
}

h5, h6 {
  font-size: 1.6rem;
}

p, i, span, li, label, div {
  font-size: 1rem;

  @include from-medium {
    font-size: 1.6rem;
  }
}

li {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #23282E;
  font-size: 1.6rem;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: black;
  }

  &.disabled {
    // pointer-events: none !important;
    cursor: not-allowed;
  }
}

button {
  font-size: 1.6rem;
}

*:focus {
    outline: 0 !important;
}

ul {
  list-style-type: none;
}

label {
  margin-bottom: 1rem;
}

input, select {
  font-size: 1.6rem !important;
}

input[type='checkbox']:checked + label {
  color: black;
}

select {

  &::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}

textarea {
  font-size: 1.6rem !important;
}

input::placeholder, textarea::placeholder {
  color: #C4C4C4 !important;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent;
  opacity: 0;
}

strong {
  font-weight: bolder !important;
}

em {
  font-style: italic !important;
}

.bolder {
  font-weight: bolder;
}